<!-- this is template css for landing -->
<link rel="stylesheet" type="text/css" href="../stylesheets/landing.css">
<!-- landing page javascript -->
<script type="text/javascript" src="../javascript/modernizr-2.7.1.min.js"></script>

<div class="index" id="to-top" ng-controller="LandingsController">

		<!-- Jumbotron -->
		<header class="jumbotron" role="banner">

			<div class="container">

				<div class="row">

					<div class="col-md-7">

						<!-- Logo -->
						<figure class="text-center">
							<a href="./index.html">
								<img class="img-logo" src="../assets/images/logo_official.png" alt="">
							</a>
						</figure> <!-- /.text-center -->

						<!-- Title -->
						<h1>Order Ahead</h1>

						<!-- Sub title -->
						<p>Place reservations for your favorite cannabis products.</p>

						<!-- Button -->
						<p class="btn-app-store">
							<a class="btn btn-danger btn-lg" href="#fakelinks">
								<img src="../assets/images/btn-app-store.png" alt="">
							</a>
						</p> <!-- /.btn-app-store -->

					</div> <!-- /.col-md-7 -->

					<div class="col-md-5">

						<!-- Images showcase -->
						<figure>
							<img class="img-iPhone" src="../assets/images/iphone/reserve.png" alt="">
						</figure>

					</div> <!-- /.col-md-5 -->
					
				</div> <!-- /.row -->
				
			</div> <!-- /.container -->

		</header> <!-- /.jumbotron -->




		<!-- Services -->
		<section class="services-section" id="section-1">

			<div class="container">

				<div class="row">

					<div class="col-md-4 col-services">
						
						<!-- Icons -->
						<figure>
							<img class="img-services" src="../assets/images/icons/flag.png" alt="">
						</figure>

						<!-- Title -->
						<h4>Flag</h4>

						<!-- Description -->
						<p>Dispensary are everywhere, yet where are they all located? Easily find all retail and medical locations.</p>

					</div> <!-- /.col-md-4 -->

					<div class="col-md-4 col-services">
						
						<!-- Icons -->
						<figure>
							<img class="img-services" src="../assets/images/icons/search.png" alt="">
						</figure>

						<!-- Title -->
						<h4>Search</h4>

						<!-- Description -->
						<p>Browse through accurate menus. Easily find strains, edibles, and concentrates.</p>

					</div> <!-- /.col-md-4 -->

					<div class="col-md-4 col-services">
						
						<!-- Icons -->
						<figure>
							<img class="img-services img-margin" src="../assets/images/icons/world-map.png" alt="">
						</figure>

						<!-- Title -->
						<h4>World Map</h4>

						<!-- Description -->
						<p>First timers welcome. Learn about the different effects a product will have on you.</p>

					</div> <!-- /.col-md-4 -->
					
				</div> <!-- /.row -->
				
			</div> <!-- /.container -->
			
		</section> <!-- /.services-section -->




		<!-- Features -->
		<section class="features-section" id="section-2">

			<div class="container">

				<div class="row">

					<div class="col-md-5 col-features text-center">
						
						<!-- Images showcase -->
						<figure>
							<img class="img-iPhone" src="../assets/images/iphone/map.png" alt="">
						</figure>

					</div> <!-- /.col-md-5 -->

					<div class="col-md-7 col-features features-content">
						
						<!-- Title -->
						<h3 id="title-1">Find Dispensaries</h3>

						<!-- Description -->
						<p>Find a location nearest you. Filter by distance, medical, or recreational.</p>

						<p>
							<a class="btn btn-danger" href="#">Learn more</a>
						</p>

					</div> <!-- /.col-md-7 -->
					
				</div> <!-- /.row -->




				<div class="row media-screen-800">

					<div class="col-md-7 col-features features-content">
						
						<!-- Title -->
						<h3 id="title-2">Compare Prices</h3>

						<!-- Description -->
						<p>Looking for a specific strain? Easily compare prices and get the best high, for the lowest price.</p>

					</div> <!-- /.col-md-7 -->

					<div class="col-md-5 col-features text-center">
						
						<!-- Images showcase -->
						<figure>
							<img class="img-iPhone margin-top margin-screen-800" src="../assets/images/iphone/menu.png" alt="">
						</figure>

					</div> <!-- /.col-md-5 -->
					
				</div> <!-- /.row -->




				<div class="row">

					<div class="col-md-5 col-features text-center">
						
						<!-- Images showcase -->
						<figure>
							<img class="img-iPhone margin-top margin-top-1" src="../assets/images/iphone/cart.png" alt="">
						</figure>

					</div> <!-- /.col-md-5 -->

					<div class="col-md-7 col-features features-content">
						
						<!-- Title -->
						<h3 id="title-3">Pick Up In Store</h3>

						<!-- Description -->
						<p>No more waiting in long lines to be helped. Pick up at your convienience.</p>

						<!-- Button -->
						<p class="btn-app-store">
							<a class="btn btn-danger btn-lg" href="#fakelinks">
								<img src="../assets/images/btn-app-store.png" alt="">
							</a>
						</p> <!-- /.btn-app-store -->

					</div> <!-- /.col-md-7 -->
					
				</div> <!-- /.row -->

			</div> <!-- /.container -->

		</section> <!-- /.features-section -->




		<!-- Subscribe -->
		<section class="subscribe-section" id="section-3">

			<div class="container">

				<div class="row">

					<div class="col-md-12">

						<!-- Title -->
						<h2>Get updates from our mailing list.</h2>

						<!-- Subscribe form -->
						<div class="row">

							<div class="col-md-6 col-md-offset-3 col-subscribe">

								<form class="subscribe-form form-inline" role="form">

									<!-- Input -->
									<div class="form-group">

										<label class="sr-only" for="exampleInputEmail1">Email address</label>
										<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email address" ng-model="email">

									</div> <!-- /.form-group -->

									<!-- Button -->
									<button class="btn btn-success" type="submit" ng-click="add(email)">Subscribe</button>
									
								</form> <!-- /.subscribe-form -->



								<section class="subscribe-description">

									<p><a href="#">Create</a> an account and help us beta test!</p>
									
								</section> <!-- /.subscribe-description -->
								
							</div> <!-- /.col-md-6 -->

						</div> <!-- /.row -->
						
					</div> <!-- /.col-md-12 -->
					
				</div> <!-- /.row -->

			</div> <!-- /.container -->

		</section> <!-- /.subscribe-section -->

		<!-- Placed at the end of the document so the pages load faster -->
	<script src="../javascript/landing.js"></script>
</div>